<template>
  <div></div>
</template>

<script setup lang="ts">
import {ref, toRefs, reactive} from 'vue';
</script>

<style scoped></style>

<script lang="ts">
export default {
  name: 'DvTemplate', // TODO: component name to update
  inheritAttrs: false,
  customOptions: {},
};
</script>
